body {
    width: 60em;
    margin: 0 auto;
    
  }
  
  section {
    padding: 2em;
    margin: 1em;
  }
  
  #green {
    background-color: #8ffda7;
    width: 10ch;
  }
  
  #orange {
    background-color: #ffc788;
    width: 50ch;
  }
  
  #yellow {
    background-color: #ffff92;
    width: 15ch;
  }
  
  #red {
    background-color: #ff919c;
    width: 15ch;
  }
  
  #blue {
    background-color: #98d2ff;   
    width: 10ch; 
  }
  
  ul {
    padding: 0;
  }
  
  li {
    background-color: white;
    padding: 1em;
    display: block;
    margin: 1em;
  }
  