:root{
    --black: #011212;
    --orange: #ff8800;
    --mainsize: 100px;
    --mainborder: 50px;
}
body {
    background-color: var(--black);
}

.ball {
    width: var(--mainsize);
    height: var(--mainsize);
    background-color: var(--orange);
    border-radius: var(--mainborder);
}
